@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=MedievalSharp&display=swap');

body{
    margin:0;
}

h1{
    color:#ff5a5f;
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    font-style: normal;
    position: static;
    left: 5%;
}
#game{
    width: 1000px;
    height: 500px;
    box-shadow: 1px 1px 10px -5px rgba($color:  #000000, $alpha:0.5);
    cursor:none;
}
// Couleurs en colomnes à droite
// #colorsChoice{
//     position: fixed;
//     right: 1%;
//     top: 10%;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
//     gap: 10px; /* Espacement entre les couleurs */

//     div{
//         background-color: #ff5a5f;
//         height: 20px;
//         width:20px;
//         border-radius: 50%;
//         margin-bottom: 10px;
//         border: 1px solid transparent;
//         transition: all 0.3s;
//         cursor: pointer;
//         display:flex;
//         justify-content: center;
//         align-items: center;
//         color: #ffffff;
//         border-color:#000000;

//         &:hover{
//             border-color: white;
//         }
//     }
// }

#colorsChoice {
    position: relative; /* Plus de position fixe */
    width: 60%;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 10 couleurs par ligne */
    gap: 10px;
    justify-content: center;
    margin-top: 20px; /* Espacement avec le canvas */
    margin-left: 10px;
    text-align: center;
}

#colorsChoice div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#colorsChoice div:hover {
    transform: scale(1.2);
    border-color: white;
}

#cursor{
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #000000;
    cursor:none;
}

#cooldownSquare {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background-color: rgba(255, 0, 0, 0.5);
    transition: height 5s linear;
}