<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pichel War</title>
    <meta name="description" value="Vous connaissez peut-être la pixel Wars ? Et bien la Fakelist vous invite à batailler sur cette zone d'expression qu'elle vous offre.
    Venez conquérir des pixels !">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>
<body>
    <h1>PICHEL WAR</h1>

    <div id=gridholder>
        <div id="grid" class="grid">
            {% for row in range(54) %}
                {% for col in range(96) %}
                    <div class="cell" data-row="{{ row }}" data-col="{{ col }}"></div>
                {% endfor %}
            {% endfor %}
        </div>

        <div id="gridlayer" class="gridlayer">
            {% for row in range(54) %}
                {% for col in range(96) %}
                    <div class="celllayer" data-row="{{ row }}" data-col="{{ col }}"></div>
                {% endfor %}
            {% endfor %}
        </div>


    </div>

    <div id=colorBox> 
        <div id="colorsChoice"></div>
    </div>

    <div class="cooldown-container">
        <div class="progress-bar">
            <div id="progress"></div>
        </div>
        <p id="timer-text">Prêt!</p>
    </div>

    <script src="../static/script.js"> </script> 

</body>
</html>
